// Copyright 2018 InnoVisioNate Inc. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

#include <windows.h>
#include <commctrl.h>

#include "Graphic_resource.h"

IDDIALOG_VIEWSET DIALOG DISCARDABLE  14, 89, 512, 512
CAPTION ""
STYLE WS_CHILD | WS_POPUP | WS_CAPTION | WS_THICKFRAME
FONT 8, "MS Sans Serif"
BEGIN

    AUTOCHECKBOX    "2-Dimensional", IDDI_VIEWSET_VIEW2D,5,0,60,12

    CONTROL         "Slider",IDDI_VIEWSET_THETASET,TRACKBAR_CLASS, WS_TABSTOP,10,35,95,12
    CONTROL         "Slider",IDDI_VIEWSET_SPINSET,TRACKBAR_CLASS, WS_TABSTOP | TBS_VERT | TBS_RIGHT,10,50,16,80
    CONTROL         "Slider",IDDI_VIEWSET_PHISET,TRACKBAR_CLASS, WS_TABSTOP | TBS_VERT | TBS_LEFT,175,50,16,80

    EDITTEXT        IDDI_VIEWSET_PHITEXT,28,18,48,16,ES_RIGHT
    EDITTEXT        IDDI_VIEWSET_THETATEXT,28,48,24,11,ES_CENTER
    EDITTEXT        IDDI_VIEWSET_SPINTEXT,28,78,48,16,ES_RIGHT

    LTEXT           "-90",IDDI_VIEWSET_PHITEXT_MIN,14,20,11,8
    LTEXT           "90",IDDI_VIEWSET_PHITEXT_MAX,95,20,9,8

    LTEXT           "0",IDDI_VIEWSET_THETATEXT_MIN,14,50,8,8
    LTEXT           "360",IDDI_VIEWSET_THETATEXT_MAX,95,50,13,8

    LTEXT           "  0",IDDI_VIEWSET_SPINTEXT_MIN,14,80,16,8
    LTEXT           "360",IDDI_VIEWSET_SPINTEXT_MAX,95,80,16,8

    PUSHBUTTON "Ok", IDOK, 450, 450, 30, 14

END

1 RCDATA { "Copyright (c) 1996-2010 Nathan T. Clark" }


