

#include "windows.h"
#include "commctrl.h"

#include "Graphic_resource.h"

STRINGTABLE DISCARDABLE 
BEGIN
    3 "Graphic Control"
END


VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "InnoVisioNate, Inc.\0"
            VALUE "FileDescription", "Graphic\0"
            VALUE "FileVersion", "1, 0, 0, 1\0"
            VALUE "InternalName", "Graphic\0"
            VALUE "LegalCopyright", "Copyright © 1998,1999,2000,2001,2002\0"
            VALUE "OriginalFilename", "Graphic.ocx\0"
            VALUE "ProductName", "Nathan T. Clark, Inc. Graphic\0"
            VALUE "ProductVersion", "1, 0, 0, 1\0"
            VALUE "OLESelfRegister", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

// Menus

IDMENU_GRAPHIC MENU DISCARDABLE 
BEGIN
    POPUP "Graphic Menu"
    BEGIN
        MENUITEM "Graphic Menu",       IDMI_GRAPHIC_MENU_TITLE, INACTIVE
        MENUITEM SEPARATOR
        MENUITEM "Save as ...",        IDMI_GRAPHIC_SAVE_AS
        MENUITEM "Open ..",            IDMI_GRAPHIC_OPEN
        MENUITEM SEPARATOR
        POPUP "view"
        BEGIN
            MENUITEM "2 D",               IDMI_GRAPHIC_VIEW_2D
            MENUITEM "3 D",               IDMI_GRAPHIC_VIEW_3D
            MENUITEM "Set...",            IDMI_GRAPHIC_VIEW_SET
        END
        MENUITEM SEPARATOR
        POPUP "evaluate"
        BEGIN
            MENUITEM "",                    IDMI_GRAPHIC_EVALUATE
        END
        MENUITEM SEPARATOR

        MENUITEM "properties...",     IDMI_GRAPHIC_PROPERTIES
        MENUITEM "perspective...",    IDMI_GRAPHIC_SET_PERSPECTIVE
        MENUITEM "text...",           IDMI_GRAPHIC_TEXT
    END
END


// Dialogs

IDNOTEBOOK_GRAPHIC_DATASOURCES DIALOG DISCARDABLE 0,0,100,100
STYLE DS_MODALFRAME | WS_CHILD
EXSTYLE WS_EX_CLIENTEDGE
CAPTION ""
FONT 8, "MS Sans Serif"
BEGIN
   CONTROL "",IDDI_DATASOURCES_TAB,WC_TABCONTROL,0x0,0,0,100,100
   CONTROL "",IDDI_DATASOURCES_FUNCTIONS_TAB,WC_TABCONTROL,0x0,0,0,100,100
   PUSHBUTTON "Clear", IDDI_DATASOURCES_CLEAR,0,0,32,16
   AUTOCHECKBOX "Auto clear", IDDI_DATASOURCES_AUTOCLEAR,0,0,80,14
   PUSHBUTTON "Reset domain", IDDI_DATASOURCES_RESETDOMAIN,0,0,48,16
END


IDDIALOG_GRAPHIC_SIZEPOS DIALOG DISCARDABLE  0, 0, 222, 126
STYLE WS_CHILD 
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "units:",IDDI_STATIC,15,15,20,8
    COMBOBOX        IDDI_GRAPHIC_SIZE_MARGINUNITS,35,15,40,60,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDDI_GRAPHIC_SIZE_TOPMARGIN,45,30,30,14,ES_AUTOHSCROLL | ES_CENTER
    EDITTEXT        IDDI_GRAPHIC_SIZE_RIGHTMARGIN,75,50,30,14,ES_AUTOHSCROLL | ES_CENTER
    EDITTEXT        IDDI_GRAPHIC_SIZE_BOTTOMMARGIN,45,70,30,14,ES_AUTOHSCROLL | ES_CENTER
    EDITTEXT        IDDI_GRAPHIC_SIZE_LEFTMARGIN,15,50,30,14,ES_AUTOHSCROLL | ES_CENTER
    AUTOCHECKBOX    "Stretch all to margins",IDDI_GRAPHIC_SIZE_FITALL,10,88,100,14
    GROUPBOX        " margins ",IDDI_STATIC,7,3,105,100
END

IDDIALOG_GRAPHIC_STYLE DIALOG DISCARDABLE 0,0, 300,250
STYLE WS_CHILD
FONT 8, "MS Sans Serif"
BEGIN

   GROUPBOX           "dimension",IDDI_STATIC,5,3,64,32
   AUTOCHECKBOX       "3-D",IDMI_GRAPHIC_VIEW_3D, 10,15,45,12,WS_GROUP

   GROUPBOX           "style",IDDI_STATIC,5,40,64,96
   //AUTOCHECKBOX       "3-D",IDMI_GRAPHIC_VIEW_3D, 10,15,45,12,WS_GROUP

   CONTROL             "",IDDI_GRAPHIC_STYLE_SAMPLE,WC_STATIC,WS_VISIBLE,75,8,155,160

END

IDDIALOG_GRAPHIC_TEXT_SETTINGS DIALOG DISCARDABLE  0, 0, 205, 126
STYLE WS_CHILD
FONT 8, "MS Sans Serif"
BEGIN
END


IDDIALOG_GRAPHIC_LIGHTING DIALOGEX 0, 0, 222, 126
STYLE WS_CHILD
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    LTEXT           "",IDDI_LIGHT_AMBIENT_BACKGROUND,35,30,126,22,WS_BORDER | NOT WS_GROUP,WS_EX_CLIENTEDGE
    LTEXT           "",IDDI_LIGHT_DIFFUSE_BACKGROUND,35,54,126,22,WS_BORDER | NOT WS_GROUP,WS_EX_CLIENTEDGE
    LTEXT           "",IDDI_LIGHT_SPECULAR_BACKGROUND,35,78,126,22,WS_BORDER | NOT WS_GROUP,WS_EX_CLIENTEDGE

    EDITTEXT        IDDI_LIGHT_AMBIENT_RED,39,35,29,14,ES_AUTOHSCROLL | ES_CENTER
    CONTROL         "Spin1",IDDI_LIGHT_AMBIENT_RED_SPIN,UPDOWN_CLASS,
                    UDS_ALIGNRIGHT | UDS_ARROWKEYS,67,35,9,14
    EDITTEXT        IDDI_LIGHT_AMBIENT_GREEN,78,35,29,14,ES_AUTOHSCROLL | ES_CENTER
    CONTROL         "Spin2",IDDI_LIGHT_AMBIENT_GREEN_SPIN,UPDOWN_CLASS,
                    UDS_ALIGNRIGHT | UDS_ARROWKEYS,107,35,9,14
    EDITTEXT        IDDI_LIGHT_AMBIENT_BLUE,117,35,29,14,ES_AUTOHSCROLL | ES_CENTER
    CONTROL         "Spin3",IDDI_LIGHT_AMBIENT_BLUE_SPIN,UPDOWN_CLASS,
                    UDS_ALIGNRIGHT | UDS_ARROWKEYS,145,35,9,14
    EDITTEXT        IDDI_LIGHT_DIFFUSE_RED,39,57,29,14,ES_AUTOHSCROLL | ES_CENTER
    CONTROL         "Spin1",IDDI_LIGHT_DIFFUSE_RED_SPIN,UPDOWN_CLASS,
                    UDS_ALIGNRIGHT | UDS_ARROWKEYS,67,57,9,14
    EDITTEXT        IDDI_LIGHT_DIFFUSE_GREEN,78,57,29,14,ES_AUTOHSCROLL | ES_CENTER
    CONTROL         "Spin2",IDDI_LIGHT_DIFFUSE_GREEN_SPIN,UPDOWN_CLASS,
                    UDS_ALIGNRIGHT | UDS_ARROWKEYS,107,57,9,14
    EDITTEXT        IDDI_LIGHT_DIFFUSE_BLUE,117,57,29,14,ES_AUTOHSCROLL | ES_CENTER
    CONTROL         "Spin3",IDDI_LIGHT_DIFFUSE_BLUE_SPIN,UPDOWN_CLASS,
                    UDS_ALIGNRIGHT | UDS_ARROWKEYS,145,57,9,14
    EDITTEXT        IDDI_LIGHT_SPECULAR_RED,39,82,29,14,ES_AUTOHSCROLL | ES_CENTER
    CONTROL         "Spin1",IDDI_LIGHT_SPECULAR_RED_SPIN,UPDOWN_CLASS,
                    UDS_ALIGNRIGHT | UDS_ARROWKEYS,67,82,9,14
    EDITTEXT        IDDI_LIGHT_SPECULAR_GREEN,78,82,29,14,ES_AUTOHSCROLL | ES_CENTER
    CONTROL         "Spin2",IDDI_LIGHT_SPECULAR_GREEN_SPIN,UPDOWN_CLASS,
                    UDS_ALIGNRIGHT | UDS_ARROWKEYS,106,82,9,14
    EDITTEXT        IDDI_LIGHT_SPECULAR_BLUE,117,82,29,14,ES_AUTOHSCROLL | ES_CENTER
    CONTROL         "Spin3",IDDI_LIGHT_SPECULAR_BLUE_SPIN,UPDOWN_CLASS,
                    UDS_ALIGNRIGHT | UDS_ARROWKEYS,146,82,9,14

    RTEXT           "position",IDDI_STATIC,9,106,25,8
    RTEXT           "X:",IDDI_STATIC,36,106,8,16
    EDITTEXT        IDDI_LIGHT_POS_X,47,103,148,14,ES_AUTOHSCROLL | ES_CENTER
    RTEXT           "Y:",IDDI_STATIC,47,123,8,16
    EDITTEXT        IDDI_LIGHT_POS_Y,58,120,148,14,ES_AUTOHSCROLL | ES_CENTER
    RTEXT           "Z:",IDDI_STATIC,58,140,8,16
    EDITTEXT        IDDI_LIGHT_POS_Z,69,137,148,14,ES_AUTOHSCROLL | ES_CENTER

    SCROLLBAR       IDDI_CHOOSE_LIGHT_NO,202,31,10,68,SBS_VERT
    LTEXT           "Red",IDDI_STATIC,39,22,20,8
    LTEXT           "Green",IDDI_STATIC,78,22,20,8
    LTEXT           "Blue",IDDI_STATIC,117,22,20,8
    LTEXT           "Light #",IDDI_LIGHT_ENABLED_LABEL,3,7,31,8
    RTEXT           "ambient",IDDI_STATIC,5,37,29,8
    RTEXT           "specular",IDDI_STATIC,6,85,28,8
    CONTROL         "enabled",IDDI_LIGHT_ENABLED,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,40,6,41,10
    RTEXT           "diffuse",IDDI_STATIC,6,60,28,8
    PUSHBUTTON      "choose",IDDI_LIGHT_AMBIENT_CHOOSE,166,34,30,14
    PUSHBUTTON      "choose",IDDI_LIGHT_DIFFUSE_CHOOSE,166,58,30,14
    PUSHBUTTON      "choose",IDDI_LIGHT_SPECULAR_CHOOSE,166,80,30,14
END

IDDIALOG_GRAPHIC_BACKGROUND DIALOGEX 0, 0, 222, 125
STYLE WS_CHILD
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    CONTROL         "",IDDI_LIGHT_BACKGROUND_BACKGROUND,WC_STATIC,WS_BORDER | NOT WS_GROUP,35,32,126,28//,WS_EX_CLIENTEDGE
    EDITTEXT        IDDI_LIGHT_BACKGROUND_RED,39,39,29,14,ES_AUTOHSCROLL | ES_CENTER
    CONTROL         "Spin1",IDDI_LIGHT_BACKGROUND_RED_SPIN,UPDOWN_CLASS,UDS_ALIGNRIGHT | UDS_ARROWKEYS,67,39,9,14
    EDITTEXT        IDDI_LIGHT_BACKGROUND_GREEN,78,39,29,14,ES_AUTOHSCROLL | ES_CENTER
    CONTROL         "Spin2",IDDI_LIGHT_BACKGROUND_GREEN_SPIN,UPDOWN_CLASS,UDS_ALIGNRIGHT | UDS_ARROWKEYS,107,39,9,14
    EDITTEXT        IDDI_LIGHT_BACKGROUND_BLUE,117,39,29,14,ES_AUTOHSCROLL | ES_CENTER
    CONTROL         "Spin3",IDDI_LIGHT_BACKGROUND_BLUE_SPIN,UPDOWN_CLASS,UDS_ALIGNRIGHT | UDS_ARROWKEYS,145,39,9,14
    LTEXT           "Red",IDDI_STATIC,39,22,20,8
    LTEXT           "Green",IDDI_STATIC,78,22,20,8
    LTEXT           "Blue",IDDI_STATIC,117,22,20,8
    PUSHBUTTON      "choose",IDDI_LIGHT_BACKGROUND_CHOOSE,168,37,30,14
END

IDDIALOG_GRAPHIC_PLOTS DIALOGEX 0, 0, 236, 135
STYLE WS_CHILD
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    LTEXT           "There are %1 plots on this graphic",IDDI_GRAPHIC_PLOTS_COUNT,3,8,110,8
    PUSHBUTTON      "&Add",IDDI_GRAPHIC_PLOTS_ADD,114,5,30,14
    PUSHBUTTON      "&Edit",IDDI_GRAPHIC_PLOTS_EDIT,146,5,30,14
    PUSHBUTTON      "&Delete",IDDI_GRAPHIC_PLOTS_DELETE,178,5,30,14
    LTEXT           "",IDDI_GRAPHIC_PLOTS_GRAPHIC,2,23,230,107
END


IDDIALOG_GRAPHIC_FUNCTIONS DIALOGEX 0, 0, 236, 135
STYLE WS_CHILD
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    LTEXT           "There are %1 functions defined",IDDI_GRAPHIC_FUNCTIONS_COUNT,3,8,110,8
    PUSHBUTTON      "&Add",IDDI_GRAPHIC_FUNCTIONS_ADD,114,5,30,14
    PUSHBUTTON      "&Edit",IDDI_GRAPHIC_FUNCTIONS_EDIT,146,5,30,14
    PUSHBUTTON      "&Delete",IDDI_GRAPHIC_FUNCTIONS_DELETE,178,5,30,14
    CONTROL         "",IDDI_GRAPHIC_FUNCTIONS_LIST,WC_LISTVIEW,LVS_REPORT | LVS_SHOWSELALWAYS,2,23,230,107,WS_EX_CLIENTEDGE
END


IDDIALOG_GRAPHIC_AXIIS DIALOGEX 0, 0, 236, 135
STYLE WS_CHILD
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN

    AUTOCHECKBOX    "Render text using OpenGL?",IDDI_GRAPHIC_AXIIS_USE_OPENGL, 3, 8, 128, 14

    LTEXT           "X axis",-1,3,32,30,8
    PUSHBUTTON      "Properties",IDDI_GRAPHIC_AXIIS_XAXIS_EDIT,30,29,40,14
    RTEXT           "label:",-1,3,46,25,8
    EDITTEXT        IDDI_GRAPHIC_AXIIS_XAXIS_TEXT,30,44,150,14

    LTEXT           "Y axis",-1,3,74,45,8
    PUSHBUTTON      "Properties",IDDI_GRAPHIC_AXIIS_YAXIS_EDIT,30,71,40,14
    RTEXT           "label:",-1,3,88,25,8
    EDITTEXT        IDDI_GRAPHIC_AXIIS_YAXIS_TEXT,30,87,150,14

    LTEXT           "Z axis label",-1,3,116,30,8
    PUSHBUTTON      "Properties",IDDI_GRAPHIC_AXIIS_ZAXIS_EDIT,30,113,40,14
    RTEXT           "label:",-1,3,130,25,8
    EDITTEXT        IDDI_GRAPHIC_AXIIS_ZAXIS_TEXT,30,128,150,14

END


IDDIALOG_GRAPHIC_TEXT_ENTRY DIALOGEX 0, 0, 160, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    LTEXT           "Specify the text to place on the graphic",IDDI_STATIC,16,8,140,8, WS_VISIBLE
    EDITTEXT        IDDI_GRAPHIC_TEXT_TEXT,16,20,140,14,ES_AUTOHSCROLL
    PUSHBUTTON      "&Add",IDDI_GRAPHIC_TEXT_OK,16,40,30,14
    PUSHBUTTON      "&Cancel",IDDI_GRAPHIC_TEXT_CANCEL,50,40,30,14
END


1 RCDATA { "Copyright (c) 1996-2002 Nathan T. Clark" }

IDOCXBITMAP_GRAPHIC BITMAP DISCARDABLE "GraphicControl.bmp"
IDCONTROLBITMAP_GRAPHIC BITMAP DISCARDABLE "gsystem-24-bit.bmp"

1 TYPELIB MOVEABLE PURE "GraphicControl.tlb"

FUNCTION_TYPELIB_ID  TYPELIB MOVEABLE PURE "Function.tlb"
GSYSTEMS_TYPELIB_ID  TYPELIB MOVEABLE PURE "GSystem.tlb"
