       
#include <windows.h>

#include "Graphic_resource.h"

#ifndef IMPORTING

VS_VERSION_INFO VERSIONINFO

 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L

BEGIN         
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "InnoVisioNate, Inc.\0"
            VALUE "FileDescription", "Function\0"
            VALUE "FileVersion", "1, 0, 0, 1\0"
            VALUE "InternalName", "FunctioNater\0"
            VALUE "LegalCopyright", "Copyright © 1998,1999,2000,2001,2002\0"
            VALUE "OriginalFilename", "FunctioNater.ocx\0"
            VALUE "ProductName", "InnoVisioNate, Inc. FunctioNater Control\0"
            VALUE "ProductVersion", "1, 0, 0, 1\0"
            VALUE "OLESelfRegister", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

#endif

IDOCXBITMAP_FUNCTION BITMAP "ocxBitmap.bmp"

#ifdef FUNCTION_SAMPLE
IDCONTROLBITMAP_FUNCTION BITMAP "gSystem-24-bit-Sample.bmp"
#else
IDCONTROLBITMAP_FUNCTION BITMAP "gSystem-24-bit.bmp"
#endif


IDDIALOG_FUNCTION_SPEC DIALOGEX 0, 0, 200, 182
STYLE DS_3DLOOK | WS_CHILD | WS_VISIBLE 
FONT 8, "MS Sans Serif"
BEGIN

    PUSHBUTTON      "Properties",IDDI_FUNCTION_PROPERTIES,5,14,40,15
    LTEXT           "",IDDI_FUNCTION_EXPRESSION_LABEL,50,3,145,8
    EDITTEXT        IDDI_FUNCTION_EQUATION_ENTRY,50,15,162,12,ES_AUTOHSCROLL
    LTEXT           "",IDDI_FUNCTION_RESULT_LABEL,5,30,20,8
    LTEXT           "",IDDI_FUNCTION_RESULT,5,42,136,12,SS_SUNKEN | WS_BORDER,WS_EX_CLIENTEDGE | WS_EX_STATICEDGE

    PUSHBUTTON      "&Start",IDDI_FUNCTION_START,5,156,40,14,WS_DISABLED
    PUSHBUTTON      "&Pause",IDDI_FUNCTION_PAUSE,47,146,40,14,WS_DISABLED
    PUSHBUTTON      "&Resume",IDDI_FUNCTION_RESUME,89,146,40,14,WS_DISABLED
    PUSHBUTTON      "s&Top",IDDI_FUNCTION_STOP,131,146,40,14,WS_DISABLED

    PUSHBUTTON      "Plot Pr&operties",IDDI_FUNCTION_PLOT_PROPERTIES,5,174,56,14

END

IDDIALOG_FUNCTION_VARIABLES DIALOGEX 5, 58, 176, 94
STYLE WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "",IDDI_FUNCTION_VARIABLES_TABS,"SysTabControl32",0x0,0,0,162,93
    EDITTEXT        IDDI_FUNCTION_VARIABLES_DOMAIN_BOX,12,65,149,60,ES_MULTILINE
END


IDDIALOG_FUNCTION_ERRORS DIALOG DISCARDABLE  18, 21, 148, 65
STYLE DS_3DLOOK | DS_CONTROL | WS_CHILD
FONT 8, "MS Sans Serif"
BEGIN
    LISTBOX         IDDI_FUNCTION_ERRORS_BOX,2,1,145,60,LBS_NOSEL |  WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
    PUSHBUTTON      "&Clear",IDDI_FUNCTION_ERRORS_CLEAR,53,53,50,12,WS_DISABLED
END


IDDIALOG_FUNCTION_PROPERTIES DIALOGEX 13, 24, 256, 256
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "Function Properties"
STYLE WS_CHILD
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
   LTEXT      "Expression Label:",-1,5,0,60,8
   EDITTEXT   IDDI_FUNCTION_EXPRESSION_LABEL,5,10,190,12, ES_AUTOHSCROLL
   LTEXT      "Results Label:",-1,5,25,60,8
   EDITTEXT   IDDI_FUNCTION_RESULT_LABEL,5,35,190,12, ES_AUTOHSCROLL
   LTEXT      "Expression:" -1,5,50,40,8
   EDITTEXT   IDDI_FUNCTION_PROPERTIES_EQUATION_ENTRY,5,60,190,12, ES_AUTOHSCROLL
   LTEXT      "Variables:",-1,5,77,40,8
   COMBOBOX   IDDI_FUNCTION_PROPERTIES_VARIABLES,40,75,60,64,CBS_DROPDOWN | CBS_DROPDOWNLIST
   PUSHBUTTON "&Edit...",IDDI_FUNCTION_PROPERTIES_VARIABLE_EDIT,105,75,24,14

   AUTOCHECKBOX  "Allow user to set function properties",IDDI_FUNCTION_PROPERTIES_ALLOWPROPERTIES,5,95,132,8
   AUTOCHECKBOX  "Allow user to set visibility properties",IDDI_FUNCTION_PROPERTIES_ALLOWCTLVISPROPS,5,105,132,8

   PUSHBUTTON      "&Run",IDDI_FUNCTION_START,5,120,40,14
END


IDDIALOG_FUNCTION_PROPERTIES_VISIBILITY DIALOGEX 13, 24, 256, 256
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "Function Visibility"
STYLE WS_CHILD
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
   LTEXT       "Select parts of the interface that should be visible",-1,0,4,164,10
   AUTOCHECKBOX    "Expression",IDDI_FUNCTION_PROPERTIES_VISIBILITY_EXPRESSION,10,14,48,14
   AUTOCHECKBOX    "Results",IDDI_FUNCTION_PROPERTIES_VISIBILITY_RESULTS,10,26,48,14
   AUTOCHECKBOX    "Variables",IDDI_FUNCTION_PROPERTIES_VISIBILITY_VARIABLES,10,38,48,14
   AUTOCHECKBOX    "Controls",IDDI_FUNCTION_PROPERTIES_VISIBILITY_CONTROLS,10,50,48,14
   AUTOCHECKBOX    "Start",IDDI_FUNCTION_PROPERTIES_VISIBILITY_START,30,62,48,14
   AUTOCHECKBOX    "Pause",IDDI_FUNCTION_PROPERTIES_VISIBILITY_PAUSE,30,74,48,14
   AUTOCHECKBOX    "Resume",IDDI_FUNCTION_PROPERTIES_VISIBILITY_RESUME,30,86,48,14
   AUTOCHECKBOX    "Stop",IDDI_FUNCTION_PROPERTIES_VISIBILITY_STOP,30,98,48,14
   AUTOCHECKBOX    "Plot Properties",IDDI_FUNCTION_PROPERTIES_VISIBILITY_PLOTPROPS,30,110,80,14

END


STRINGTABLE DISCARDABLE 
BEGIN
    IDSTRING_FUNCTION_INSTRUCTIONS 
"The Function Engine will determine the names of your independent variables from the expression!  You will need to supply the definition of a function and then the domain of the independent variables."
    IDSTRING_FUNCTION_DEFAULT1  "z = cos(sqrt(x*x + y*y)) // default 1"
    IDSTRING_FUNCTION_DEFAULT2  "z = sin(sqrt(x*x + y*y)) // default 2"
    IDSTRING_FUNCTION_DEFAULT3  "z = cos(sin(x + y)) // default 3"
    IDSTRING_FUNCTION_DEFAULT4  "z = x + y**2 + x*y"
    IDSTRING_FUNCTION_DEFAULT5  "y = sin(sqrt(x*x))"
END

STRINGTABLE DISCARDABLE 
BEGIN
    2 "Function Control"
END

1 RCDATA { "Copyright (c) 1996-2002 Nathan T. Clark" }

//RCDATA_BUILD_DATE RCDATA buildDate

1 TYPELIB MOVEABLE PURE "Function.tlb"

FUNCTION_TYPELIB_ID TYPELIB MOVEABLE PURE "Function.tlb"

#define IMPORTING

#include "..\V\V.rc"
#include "..\Evaluator\Evaluator.rc"
//#include "..\P\Properties.rc"
//#include "..\P\Property Pages\PropertyPages.rc"