// Copyright 2018 InnoVisioNate Inc. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

#include <windows.h>
#include <commctrl.h>

#include "Graphic_resource.h"

1 BITMAP DISCARDABLE "Plot.bmp"
2 BITMAP DISCARDABLE "BasePlot.bmp"

1 TYPELIB Plot.tlb

IDDIALOG_PLOT_DIMENSION DIALOGEX 0, 0, 300, 250
STYLE WS_CHILD
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN

   AUTOCHECKBOX       "",IDDI_PLOT_DIMENSION_OVERRIDE_OWNER,5,5,128,16,BS_AUTOCHECKBOX | WS_TABSTOP

   AUTORADIOBUTTON    "3-D",IDDI_PLOT_DIMENSION_3D,140,8,24,12,WS_GROUP
   AUTORADIOBUTTON    "2-D",IDDI_PLOT_DIMENSION_2D,170,8,24,12

   CONTROL            "",IDDI_PLOT_DIMENSION_SAMPLEPOSITION,"STATIC",NOT WS_VISIBLE,0,20,10,10,WS_EX_CLIENTEDGE

END


IDDIALOG_PLOT_TYPE DIALOGEX 0,0,300,250
STYLE WS_CHILD | WS_CLIPSIBLINGS
FONT 8, "MS Sans Serif",0,0,0x1
BEGIN

   AUTOCHECKBOX  "Override the main plot type settings?",IDDI_PLOT_TYPE_OVERRIDE_OWNER,5,5,128,16,BS_AUTOCHECKBOX | WS_TABSTOP

   LTEXT "There are no type(s) selected. Please select one or more types to show the graphic.",IDDI_PLOT_TYPE_NONE_SELECTED,15, 22, 300, 12

   CONTROL "",IDDI_PLOT_TYPE_ARITY_TABS,WC_TABCONTROL,0x0,12,40,100,180

      CONTROL "",IDDI_PLOT_TYPE_2D_TYPES_SCROLL_PANE,"STATIC",WS_VISIBLE,0,4,80,512

      AUTOCHECKBOX  "Type",IDDI_PLOT_TYPE_2D_MIN,0,24,45,10,NOT WS_VISIBLE

      CONTROL "",IDDI_PLOT_TYPE_3D_TYPES_SCROLL_PANE,"STATIC",WS_VISIBLE,0,4,80,512

      AUTOCHECKBOX   "Type",IDDI_PLOT_TYPE_3D_MIN,0,24,45,10,NOT WS_VISIBLE

   SCROLLBAR IDDI_PLOT_TYPE_2D_TYPES_SCROLL_BAR,0,0,32,32,NOT WS_VISIBLE | SBS_VERT

   SCROLLBAR IDDI_PLOT_TYPE_3D_TYPES_SCROLL_BAR,0,0,0,0,NOT WS_VISIBLE | SBS_VERT

   CONTROL "",IDDI_PLOT_DIMENSION_SAMPLEPOSITION,"STATIC",NOT WS_VISIBLE,175,5,10,10,WS_EX_CLIENTEDGE

END

IDDIALOG_PLOT_COLOR DIALOGEX 0, 0, 512, 256 + 128
STYLE WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN

   GROUPBOX       "line color",IDDI_PLOT_COLOR_GROUP_LINE,10,10,180,60

      CONTROL         "",IDDI_PLOT_COLOR_LINE_BACKGROUND, WC_STATIC, WS_BORDER | NOT WS_GROUP,20,32,126,28,WS_EX_CLIENTEDGE

      EDITTEXT        IDDI_PLOT_COLOR_LINE_RED,24,39,29,14,ES_AUTOHSCROLL | ES_CENTER
      CONTROL         "Spin1",IDDI_PLOT_COLOR_LINE_RED_SPIN,UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY,0,0,0,0

      EDITTEXT        IDDI_PLOT_COLOR_LINE_GREEN,63,39,29,14,ES_AUTOHSCROLL | ES_CENTER
      CONTROL         "Spin2",IDDI_PLOT_COLOR_LINE_GREEN_SPIN,UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY,0,0,0,0

      EDITTEXT        IDDI_PLOT_COLOR_LINE_BLUE,102,39,29,14,ES_AUTOHSCROLL | ES_CENTER
      CONTROL         "Spin3",IDDI_PLOT_COLOR_LINE_BLUE_SPIN,UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY,0,0,0,0

      LTEXT           "Red",IDDI_STATIC,25,22,20,8
      LTEXT           "Green",IDDI_STATIC,64,22,20,8
      LTEXT           "Blue",IDDI_STATIC,102,22,20,8
      PUSHBUTTON      "choose",IDDI_PLOT_COLOR_LINE_CHOOSE,153,37,30,14

#define COLOR_BOTTOM 0
#define COLOR_RIGHT 190

   GROUPBOX       "top surface color",IDDI_PLOT_COLOR_GROUP_TOP,10 + COLOR_RIGHT,10 + COLOR_BOTTOM,180,60

      CONTROL          "",IDDI_PLOT_COLOR_TOP_BACKGROUND,WC_STATIC,WS_BORDER | NOT WS_GROUP,20 + COLOR_RIGHT,32 + COLOR_BOTTOM,126,28,WS_EX_CLIENTEDGE

      EDITTEXT        IDDI_PLOT_COLOR_TOP_RED,24 + COLOR_RIGHT,39 + COLOR_BOTTOM,29,14,ES_AUTOHSCROLL | ES_CENTER
      CONTROL         "Spin1",IDDI_PLOT_COLOR_TOP_RED_SPIN,UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY,0,0,0,0

      EDITTEXT        IDDI_PLOT_COLOR_TOP_GREEN,63 + COLOR_RIGHT,39 + COLOR_BOTTOM,29,14,ES_AUTOHSCROLL | ES_CENTER
      CONTROL         "Spin2",IDDI_PLOT_COLOR_TOP_GREEN_SPIN,UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY,0,0,0,0

      EDITTEXT        IDDI_PLOT_COLOR_TOP_BLUE,102 + COLOR_RIGHT,39 + COLOR_BOTTOM,29,14,ES_AUTOHSCROLL | ES_CENTER
      CONTROL         "Spin3",IDDI_PLOT_COLOR_TOP_BLUE_SPIN,UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY,0,0,0,0

      LTEXT           "Red",IDDI_STATIC,25 + COLOR_RIGHT,22 + COLOR_BOTTOM,20,8
      LTEXT           "Green",IDDI_STATIC,64 + COLOR_RIGHT,22 + COLOR_BOTTOM,20,8
      LTEXT           "Blue",IDDI_STATIC,102 + COLOR_RIGHT,22 + COLOR_BOTTOM,20,8
      PUSHBUTTON      "choose",IDDI_PLOT_COLOR_TOP_CHOOSE,153 + COLOR_RIGHT,37 + COLOR_BOTTOM,30,14

#undef COLOR_BOTTOM
#undef COLOR_RIGHT
#define COLOR_BOTTOM 65

   GROUPBOX       "bottom surface color",IDDI_PLOT_COLOR_GROUP_BOTTOM,10,10 + COLOR_BOTTOM,180,60

      CONTROL          "",IDDI_PLOT_COLOR_BOTTOM_BACKGROUND, WC_STATIC, WS_BORDER | NOT WS_GROUP,20,32 + COLOR_BOTTOM,126,28,WS_EX_CLIENTEDGE

      EDITTEXT        IDDI_PLOT_COLOR_BOTTOM_RED,24,39 + COLOR_BOTTOM,29,14,ES_AUTOHSCROLL | ES_CENTER
      CONTROL         "Spin1",IDDI_PLOT_COLOR_BOTTOM_RED_SPIN,UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY,0,0,0,0

      EDITTEXT        IDDI_PLOT_COLOR_BOTTOM_GREEN,63,39 + COLOR_BOTTOM,29,14,ES_AUTOHSCROLL | ES_CENTER
      CONTROL         "Spin2",IDDI_PLOT_COLOR_BOTTOM_GREEN_SPIN,UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY,0,0,0,0

      EDITTEXT        IDDI_PLOT_COLOR_BOTTOM_BLUE,102,39 + COLOR_BOTTOM,29,14,ES_AUTOHSCROLL | ES_CENTER
      CONTROL         "Spin3",IDDI_PLOT_COLOR_BOTTOM_BLUE_SPIN,UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY,0,0,0,0

      LTEXT           "Red",IDDI_STATIC,25,22 + COLOR_BOTTOM,20,8
      LTEXT           "Green",IDDI_STATIC,64,22 + COLOR_BOTTOM,20,8
      LTEXT           "Blue",IDDI_STATIC,102,22 + COLOR_BOTTOM,20,8
      PUSHBUTTON      "choose",IDDI_PLOT_COLOR_BOTTOM_CHOOSE,153,37 + COLOR_BOTTOM,30,14

   CONTROL "",IDDI_PLOT_DIMENSION_SAMPLEPOSITION,"STATIC",NOT WS_VISIBLE,0,80,10,10,WS_EX_CLIENTEDGE


END

IDMENU_PLOT MENU DISCARDABLE 
BEGIN
    POPUP "Plot Menu"
    BEGIN
        MENUITEM "Plot Menu",              ID_PLOTMENU_WORKSPACEMENU, INACTIVE
        MENUITEM SEPARATOR
        MENUITEM "&Properties",            IDMI_PLOT_PROPERTIES
        MENUITEM "&Delete",                IDMI_PLOT_DELETE
    END
END