
#include <windows.h>
#include <commctrl.h>

#include "Graphic_resource.h"

1 BITMAP DISCARDABLE "Plot.bmp"
2 BITMAP DISCARDABLE "BasePlot.bmp"

1 TYPELIB Plot.tlb


IDDIALOG_PLOT_DIMENSION DIALOGEX 0, 0, 300, 250
STYLE WS_CHILD
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN

   AUTOCHECKBOX       "",IDDI_PLOT_DIMENSION_OVERRIDE_OWNER,5,5,256,16,BS_AUTOCHECKBOX | WS_TABSTOP

   AUTORADIOBUTTON    "3-D",IDDI_PLOT_DIMENSION_3D,20,24,45,12,WS_GROUP
   AUTORADIOBUTTON    "2-D",IDDI_PLOT_DIMENSION_2D,20,36,45,12

   CONTROL            "",IDDI_PLOT_DIMENSION_SAMPLEPOSITION,"STATIC",NOT WS_VISIBLE,0,48,10,10,WS_EX_CLIENTEDGE

END


IDDIALOG_PLOT_TYPE DIALOGEX 0,0,300,250
STYLE WS_CHILD
FONT 8, "MS Sans Serif",0,0,0x1
BEGIN

   AUTOCHECKBOX  "Override the owner's type settings?",IDDI_PLOT_TYPE_OVERRIDE_OWNER,5,5,256,16,BS_AUTOCHECKBOX | WS_TABSTOP

   GROUPBOX       " 2-D and 3-D ",IDDI_STATIC,5,25,80,60

      AUTOCHECKBOX   "Natural",IDDI_PLOT_TYPE_NATURAL,15,37,65,10
      AUTOCHECKBOX   "Contour",IDDI_PLOT_TYPE_CONTOUR,15,49,65,10
      AUTOCHECKBOX   "Pie",IDDI_PLOT_TYPE_PIE,15,61,65,10

   GROUPBOX       " 3-D only ",IDDI_STATIC,95,25,80,60

      AUTOCHECKBOX   "Surface",IDDI_PLOT_TYPE_SURFACE,105,37,65,10
      AUTOCHECKBOX   "Wireframe",IDDI_PLOT_TYPE_WIREFRAME,105,49,65,10
      AUTOCHECKBOX   "Stacks",IDDI_PLOT_TYPE_STACKS,105,61,65,10

   CONTROL "",IDDI_PLOT_DIMENSION_SAMPLEPOSITION,"STATIC",NOT WS_VISIBLE,0,90,10,10,WS_EX_CLIENTEDGE

END


IDDIALOG_PLOT_COLOR DIALOGEX 0, 0, 400, 250
STYLE WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN

   GROUPBOX       "line color",IDDI_STATIC,10,10,180,60

      CONTROL         "",IDDI_PLOT_COLOR_LINE_BACKGROUND, WC_STATIC, WS_BORDER | NOT WS_GROUP,20,32,126,28,WS_EX_CLIENTEDGE

      EDITTEXT        IDDI_PLOT_COLOR_LINE_RED,24,39,29,14,  ES_AUTOHSCROLL | ES_CENTER
      CONTROL         "Spin1",IDDI_PLOT_COLOR_LINE_RED_SPIN,UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS,52,39,9,14

      EDITTEXT        IDDI_PLOT_COLOR_LINE_GREEN,63,39,29,14,  ES_AUTOHSCROLL | ES_CENTER
      CONTROL         "Spin2",IDDI_PLOT_COLOR_LINE_GREEN_SPIN,UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS,92,39,9,14

      EDITTEXT        IDDI_PLOT_COLOR_LINE_BLUE,102,39,29,14,  ES_AUTOHSCROLL | ES_CENTER
      CONTROL         "Spin3",IDDI_PLOT_COLOR_LINE_BLUE_SPIN,UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS,130,39,9,14

      LTEXT           "Red",IDDI_STATIC,25,22,20,8
      LTEXT           "Green",IDDI_STATIC,64,22,20,8
      LTEXT           "Blue",IDDI_STATIC,102,22,20,8
      PUSHBUTTON      "choose",IDDI_PLOT_COLOR_LINE_CHOOSE,153,37,30,14

   GROUPBOX       "top surface color",IDDI_STATIC,210,10,180,60

      CONTROL          "",IDDI_PLOT_COLOR_TOP_BACKGROUND,WC_STATIC,WS_BORDER | NOT WS_GROUP,220,32,126,28,WS_EX_CLIENTEDGE

      EDITTEXT        IDDI_PLOT_COLOR_TOP_RED,             224,39,29,14,ES_AUTOHSCROLL | ES_CENTER
      CONTROL         "Spin1",IDDI_PLOT_COLOR_TOP_RED_SPIN,UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY,0,0,0,0

      EDITTEXT        IDDI_PLOT_COLOR_TOP_GREEN,           263,39,29,14,ES_AUTOHSCROLL | ES_CENTER
      CONTROL         "Spin2",IDDI_PLOT_COLOR_TOP_GREEN_SPIN,UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY,0,0,0,0

      EDITTEXT        IDDI_PLOT_COLOR_TOP_BLUE,            302,39,29,14,ES_AUTOHSCROLL | ES_CENTER
      CONTROL         "Spin3",IDDI_PLOT_COLOR_TOP_BLUE_SPIN,UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY,0,0,0,0

      LTEXT           "Red",IDDI_STATIC,224,22,20,8
      LTEXT           "Green",IDDI_STATIC,263,22,20,8
      LTEXT           "Blue",IDDI_STATIC,302,22,20,8
      PUSHBUTTON      "choose",IDDI_PLOT_COLOR_TOP_CHOOSE,353,37,30,14

   GROUPBOX       "bottom surface color",IDDI_STATIC,210,80,180,60

      CONTROL          "",IDDI_PLOT_COLOR_BOTTOM_BACKGROUND, WC_STATIC, WS_BORDER | NOT WS_GROUP,220,102,126,28,WS_EX_CLIENTEDGE

      EDITTEXT        IDDI_PLOT_COLOR_BOTTOM_RED,             224,109,29,14,ES_AUTOHSCROLL | ES_CENTER
      CONTROL         "Spin1",IDDI_PLOT_COLOR_BOTTOM_RED_SPIN,UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY,0,0,0,0

      EDITTEXT        IDDI_PLOT_COLOR_BOTTOM_GREEN,           263,109,29,14,ES_AUTOHSCROLL | ES_CENTER
      CONTROL         "Spin2",IDDI_PLOT_COLOR_BOTTOM_GREEN_SPIN,UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY,0,0,0,0

      EDITTEXT        IDDI_PLOT_COLOR_BOTTOM_BLUE,           302,109,29,14,ES_AUTOHSCROLL | ES_CENTER
      CONTROL         "Spin3",IDDI_PLOT_COLOR_BOTTOM_BLUE_SPIN,UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY,0,0,0,0

      LTEXT           "Red",IDDI_STATIC,224,92,20,8
      LTEXT           "Green",IDDI_STATIC,263,92,20,8
      LTEXT           "Blue",IDDI_STATIC,302,92,20,8
      PUSHBUTTON      "choose",IDDI_PLOT_COLOR_BOTTOM_CHOOSE,353,107,30,14

   CONTROL "",IDDI_PLOT_DIMENSION_SAMPLEPOSITION,"STATIC",NOT WS_VISIBLE,0,80,10,10,WS_EX_CLIENTEDGE


END

IDMENU_PLOT MENU DISCARDABLE 
BEGIN
    POPUP "Plot Menu"
    BEGIN
        MENUITEM "Plot Menu",              ID_PLOTMENU_WORKSPACEMENU, INACTIVE
        MENUITEM SEPARATOR
        MENUITEM "&Properties",            IDMI_PLOT_PROPERTIES
        MENUITEM "&Delete",                IDMI_PLOT_DELETE
    END
END