       
#include <windows.h>

#include "Graphic_resource.h"

#ifndef IMPORTING

VS_VERSION_INFO VERSIONINFO

 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L

BEGIN         
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "InnoVisioNate, Inc.\0"
            VALUE "FileDescription", "Variable\0"
            VALUE "FileVersion", "1, 0, 0, 1\0"
            VALUE "InternalName", "Variable\0"
            VALUE "LegalCopyright", "Copyright © 1998,1999,2000,2001,2002\0"
            VALUE "OriginalFilename", "V.ocx\0"
            VALUE "ProductName", "InnoVisioNate, Inc. Variable\0"
            VALUE "ProductVersion", "1, 0, 0, 1\0"
            VALUE "OLESelfRegister", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

#endif

IDDIALOG_VARIABLE DIALOG DISCARDABLE  18, 21, 150, 72
STYLE DS_3DLOOK | WS_CHILD
FONT 8, "MS Sans Serif"
BEGIN
    AUTORADIOBUTTON "Value = ",IDDI_VARIABLE_VALUE_VARIABLE, 0, 0, 36, 12
    AUTORADIOBUTTON "Independent variable ",IDDI_VARIABLE_INDEPENDENT_VARIABLE, 0, 12, 80, 12
    EDITTEXT        IDDI_VARIABLE_VALUE,38,0,50,12,ES_AUTOHSCROLL 

    EDITTEXT        IDDI_VARIABLE_DOMAIN_MIN,8,26,40,12,ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    CTEXT           "VAR",IDDI_VARIABLE_DOMAIN_NAME,50,26,48,8
    EDITTEXT        IDDI_VARIABLE_DOMAIN_MAX,100,26,40,12,ES_AUTOHSCROLL | WS_TABSTOP
    CTEXT           "Steps:",IDDI_VARIABLE_STEPS_LABEL,8,44,24,12
    EDITTEXT        IDDI_VARIABLE_STEPS,32,42,32,12,ES_AUTOHSCROLL | WS_TABSTOP
    EDITTEXT        IDDI_VARIABLE_DOMAIN_EXPRESSION,72,42,96,12,ES_READONLY | ES_AUTOHSCROLL
    LTEXT           "invalid",IDDI_VARIABLE_DOMAIN_INVALID,72,58,134,8
END

IDDIALOG_VARIABLE_PROPERTIES DIALOG DISCARDABLE  18, 21, 180, 100
STYLE DS_MODALFRAME | WS_POPUP
CAPTION ""
FONT 8, "MS Sans Serif"
BEGIN
    AUTORADIOBUTTON "Value = ",IDDI_VARIABLE_VALUE_VARIABLE, 16, 16, 36, 12
    AUTORADIOBUTTON "Independent variable ",IDDI_VARIABLE_INDEPENDENT_VARIABLE, 16, 28, 80, 12
    EDITTEXT        IDDI_VARIABLE_VALUE,38 + 16,16,50,12,ES_AUTOHSCROLL 

    EDITTEXT        IDDI_VARIABLE_DOMAIN_MIN,24,42,40,12,ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    CTEXT           "VAR",IDDI_VARIABLE_DOMAIN_NAME,66,42,48,8
    EDITTEXT        IDDI_VARIABLE_DOMAIN_MAX,116,42,40,12,ES_AUTOHSCROLL | WS_TABSTOP
    CTEXT           "Steps:",IDDI_VARIABLE_STEPS_LABEL,8,60,24,12
    EDITTEXT        IDDI_VARIABLE_STEPS,32,58,32,12,ES_AUTOHSCROLL | WS_TABSTOP
    EDITTEXT        IDDI_VARIABLE_DOMAIN_EXPRESSION,72,58,96,12,ES_READONLY | ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT           "invalid",IDDI_VARIABLE_DOMAIN_INVALID,72,72,134,8

    PUSHBUTTON      "Ok", IDOK, 100, 82, 30, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 138, 82, 30, 14

END

#ifndef IMPORTING

1 TYPELIB MOVEABLE PURE "Variable.tlb"

#endif

VARIABLES_TYPELIB_ID TYPELIB MOVEABLE PURE "Variable.tlb"

