// Copyright 2018 InnoVisioNate Inc. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

#include <windows.h>
#include "commctrl.h"

#include "Graphic_resource.h"

1 TYPELIB Axis.tlb

IDMENU_AXIS MENU DISCARDABLE 
BEGIN
    POPUP "Axis Menu"
    BEGIN
        MENUITEM "Axis Menu",IDMENU_AXIS_AXIS,INACTIVE
        MENUITEM SEPARATOR
        MENUITEM "&Properties",IDMI_AXIS_SET_PROPERTIES
    END
END


IDDIALOG_AXIS_STYLE DIALOG DISCARDABLE  0, 0, 256, 256
STYLE WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif"
BEGIN

   GROUPBOX        "line",IDDI_STATIC,15,10,84,32
      LTEXT           "weight",IDDI_STATIC,30,22,22,8
      LTEXT           "(max 10)",IDDI_STATIC,28,30,32,8
      EDITTEXT        IDDI_AXIS_STYLE_LINEWEIGHT,60,20,24,14,ES_AUTOHSCROLL | ES_CENTER

   GROUPBOX        "ticks",IDDI_STATIC,103,10,128,130

      LTEXT           "# ticks",IDDI_AXIS_STYLE_MSG_TICKCOUNT,120,20,22,8,WS_VISIBLE
      EDITTEXT        IDDI_AXIS_STYLE_TICKCOUNT,146,18,20,14,ES_AUTOHSCROLL | WS_VISIBLE | ES_CENTER

      LTEXT           "length",-1,119,36,20,8
      LTEXT           "units",-1,155,36,20,8
      EDITTEXT        IDDI_AXIS_STYLE_TICKLENGTH,119,45,32,14,ES_AUTOHSCROLL
      COMBOBOX        IDDI_AXIS_STYLE_TICKLENGTH_UNITS,155,45,47,65,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

      CONTROL         "above",IDDI_AXIS_STYLE_TICKSABOVE,"Button",BS_AUTORADIOBUTTON,118,63,36,10
      CONTROL         "across",IDDI_AXIS_STYLE_TICKSACCROSS,"Button",BS_AUTORADIOBUTTON,118,74,37,10
      CONTROL         "below",IDDI_AXIS_STYLE_TICKSBELOW,"Button",BS_AUTORADIOBUTTON,118,85,35,10

      LTEXT           "% above",IDDI_AXIS_STYLE_MSG_PCNTABOVE,157,68,28,8,NOT WS_VISIBLE
      EDITTEXT        IDDI_AXIS_STYLE_PCNTABOVE,165,76,32,14,ES_AUTOHSCROLL | NOT WS_VISIBLE
   
      LTEXT           "# grid spaces per tick",IDDI_AXIS_STYLE_MSG_GRIDSPERTICK,119,99,78,16,WS_VISIBLE
      EDITTEXT        IDDI_AXIS_STYLE_GRIDSPERTICK,190,97,24,14,ES_AUTOHSCROLL | WS_VISIBLE | ES_CENTER

      AUTOCHECKBOX    "Draw ticks on normal planes ?",IDDI_AXIS_STYLE_TICKS_ON_BOTH_PLANES,114,112,110,16

END


IDDIALOG_AXIS_POSITION DIALOG DISCARDABLE 0,0, 256, 256
STYLE WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif"
BEGIN

   GROUPBOX         "origin",IDDI_STATIC,5,10,220,38
      CONTROL          "natural",IDDI_AXIS_POSITION_ORIGIN_MINPOINT,"Button",BS_AUTOCHECKBOX,15,30,48,12
      CTEXT            "X",IDDI_STATIC, 65,16,48,8
      CTEXT            "Y",IDDI_STATIC,115,16,48,8
      CTEXT            "Z",IDDI_STATIC,165,16,48,8
      EDITTEXT         IDDI_AXIS_POSITION_ORIGIN_X, 65,32,48,12,ES_AUTOHSCROLL | ES_CENTER
      EDITTEXT         IDDI_AXIS_POSITION_ORIGIN_Y,115,32,48,12,ES_AUTOHSCROLL | ES_CENTER
      EDITTEXT         IDDI_AXIS_POSITION_ORIGIN_Z,165,32,48,12,ES_AUTOHSCROLL | ES_CENTER

   GROUPBOX         "end point",IDDI_STATIC,5,52,220,38
      CONTROL          "natural",IDDI_AXIS_POSITION_ENDPOINT_MAXPOINT,"Button",BS_AUTOCHECKBOX,15,71,48,12
      CTEXT            "X",IDDI_STATIC, 65,59,48,8
      CTEXT            "Y",IDDI_STATIC,115,59,48,8
      CTEXT            "Z",IDDI_STATIC,165,59,48,8
      EDITTEXT         IDDI_AXIS_POSITION_ENDPOINT_X, 65,71,48,12,ES_AUTOHSCROLL | ES_CENTER
      EDITTEXT         IDDI_AXIS_POSITION_ENDPOINT_Y,115,71,48,12,ES_AUTOHSCROLL | ES_CENTER
      EDITTEXT         IDDI_AXIS_POSITION_ENDPOINT_Z,165,71,48,12,ES_AUTOHSCROLL | ES_CENTER

   CONTROL         "These value determine the _ domain",IDDI_AXIS_STYLE_DETERMINESDOMAIN,"Button",BS_AUTOCHECKBOX,5,95,180,10

   LTEXT           "The X, Y, or Z values may be specified in terms of the variables:\n\tOx, Oy, Oz, and Mx, My, Mz\nwhich denote the Origin (minimum point) and the Maximum point in the domain", IDDI_AXIS_POSITION_NOTES, 10, 115, 256, 64, WS_VISIBLE, WS_EX_CLIENTEDGE

END

IDDIALOG_AXIS_TEXT DIALOG DISCARDABLE  0, 0, 256,256
STYLE WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif"
BEGIN

   GROUPBOX        "tick labels",IDDI_STATIC,4,10,220,65

      CONTROL        "&display",IDDI_AXIS_TEXT_DISPLAYTICKLABELS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,22,57,10
      CONTROL        "&autoprecision",IDDI_AXIS_TEXT_AUTOPRECISION,"Button",BS_AUTORADIOBUTTON,14,34,58,10
      CONTROL        "&specific precision",IDDI_AXIS_TEXT_SPECIFICPRECISION,"Button",BS_AUTORADIOBUTTON,14,44,70,10
      EDITTEXT       IDDI_AXIS_TEXT_AXISTICKLABELPRECISION_VALUE,16,54,40,14,ES_AUTOHSCROLL | WS_DISABLED
      CONTROL        "",IDDI_AXIS_TEXT_AXISPRECISIONSPIN,"msctls_updown32",UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_ALIGNLEFT,16,54,10,14
      LTEXT          " % range",IDDI_STATIC,56,58,30,14

      GROUPBOX       "size",IDDI_STATIC,90,16,110,30
         
         EDITTEXT       IDDI_AXIS_TEXT_TICK_LABEL_SIZE,104,26,36,12,ES_AUTOHSCROLL | WS_TABSTOP
         COMBOBOX       IDDI_AXIS_TEXT_TICK_LABEL_SIZE_UNITS,142,26,47,65,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

   GROUPBOX        "axis label",IDDI_STATIC,4,79,220,102

      RTEXT           "text",IDDI_STATIC,8,91,16,12
      EDITTEXT        IDDI_AXIS_TEXT_LABELTEXT,28,91,190,12,ES_AUTOHSCROLL
      LTEXT           "use \\n to cause line breaks",IDDI_STATIC,28,104,190,12

      GROUPBOX        "position",IDDI_STATIC,10,112,210,38

         CONTROL         "natural",IDDI_AXIS_TEXT_LABEL_POSITION_NATURAL,"Button",BS_AUTOCHECKBOX,15,131,40,12
         CTEXT           "X",IDDI_STATIC, 60,119,48,8
         CTEXT           "Y",IDDI_STATIC,110,119,48,8
         CTEXT           "Z",IDDI_STATIC,160,119,48,8          
         EDITTEXT        IDDI_AXIS_TEXT_LABEL_POSITION_X, 60,131,48,12,ES_AUTOHSCROLL | ES_CENTER
         EDITTEXT        IDDI_AXIS_TEXT_LABEL_POSITION_Y,110,131,48,12,ES_AUTOHSCROLL | ES_CENTER
         EDITTEXT        IDDI_AXIS_TEXT_LABEL_POSITION_Z,160,131,48,12,ES_AUTOHSCROLL | ES_CENTER

      GROUPBOX        "angle",IDDI_STATIC,10,151,210,26

         CONTROL         "perpendicular",IDDI_AXIS_TEXT_LABEL_ANGLE_PERPENDICULAR,"Button",BS_AUTORADIOBUTTON,12,161,55,12
         CONTROL         "parallel",IDDI_AXIS_TEXT_LABEL_ANGLE_PARALLEL,"Button",BS_AUTORADIOBUTTON,77,161,48,12
         CONTROL         "or ...",IDDI_AXIS_TEXT_LABEL_ANGLE_ISOTHER,"Button",BS_AUTORADIOBUTTON,130,161,24,12
         EDITTEXT        IDDI_AXIS_TEXT_LABEL_ANGLE_OTHER,160,161,48,12,ES_AUTOHSCROLL | ES_CENTER

END


IDDIALOG_AXIS_COLOR DIALOGEX 0, 0, 256, 256
STYLE WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN

   GROUPBOX       "line color",IDDI_STATIC,10,10,180,57

      CONTROL         "",IDDI_AXIS_COLOR_LINE_COLOR_BACKGROUND, WC_STATIC, WS_BORDER | NOT WS_GROUP,20,32,126,28,WS_EX_CLIENTEDGE
      EDITTEXT        IDDI_AXIS_COLOR_LINE_COLOR_RED,            24,39,29,14,  ES_AUTOHSCROLL | ES_CENTER
      CONTROL         "Spin1",IDDI_AXIS_COLOR_LINE_COLOR_RED_SPIN,UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS,52,39,9,14
      EDITTEXT        IDDI_AXIS_COLOR_LINE_COLOR_GREEN,          63,39,29,14,  ES_AUTOHSCROLL | ES_CENTER
      CONTROL         "Spin2",IDDI_AXIS_COLOR_LINE_COLOR_GREEN_SPIN,UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS,92,39,9,14
      EDITTEXT        IDDI_AXIS_COLOR_LINE_COLOR_BLUE,          102,39,29,14,  ES_AUTOHSCROLL | ES_CENTER
      CONTROL         "Spin3",IDDI_AXIS_COLOR_LINE_COLOR_BLUE_SPIN,UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS,130,39,9,14
      LTEXT           "Red",IDDI_STATIC,25,22,20,8
      LTEXT           "Green",IDDI_STATIC,64,22,20,8
      LTEXT           "Blue",IDDI_STATIC,102,22,20,8
      PUSHBUTTON      "choose",IDDI_AXIS_COLOR_LINE_COLOR_CHOOSE,153,37,30,14

   GROUPBOX       "tick label color",IDDI_STATIC,10,68,180,66

      CONTROL         "track line color",IDDI_AXIS_COLOR_TICK_LABEL_COLOR_TRACK,"Button",BS_AUTOCHECKBOX,14,79,80,12

      CONTROL          "",IDDI_AXIS_COLOR_TICK_LABEL_COLOR_BACKGROUND,WC_STATIC,WS_BORDER | NOT WS_GROUP,20,102,126,28,WS_EX_CLIENTEDGE
      EDITTEXT        IDDI_AXIS_COLOR_TICK_LABEL_COLOR_RED,             24,109,29,14,ES_AUTOHSCROLL | ES_CENTER
      CONTROL         "Spin1",IDDI_AXIS_COLOR_TICK_LABEL_COLOR_RED_SPIN,UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS,52,109,9,14
      EDITTEXT        IDDI_AXIS_COLOR_TICK_LABEL_COLOR_GREEN,           63,109,29,14,ES_AUTOHSCROLL | ES_CENTER
      CONTROL         "Spin2",IDDI_AXIS_COLOR_TICK_LABEL_COLOR_GREEN_SPIN,UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS,92,109,9,14
      EDITTEXT        IDDI_AXIS_COLOR_TICK_LABEL_COLOR_BLUE,           102,109,29,14,ES_AUTOHSCROLL | ES_CENTER
      CONTROL         "Spin3",IDDI_AXIS_COLOR_TICK_LABEL_COLOR_BLUE_SPIN,UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS,130,109,9,14
      LTEXT           "Red",IDDI_STATIC,24,92,20,8
      LTEXT           "Green",IDDI_STATIC,63,92,20,8
      LTEXT           "Blue",IDDI_STATIC,102,92,20,8
      PUSHBUTTON      "choose",IDDI_AXIS_COLOR_TICK_LABEL_COLOR_CHOOSE,153,107,30,14

   GROUPBOX       "axis label color",IDDI_STATIC,10,136,180,66

      CONTROL         "track line color",IDDI_AXIS_COLOR_AXIS_LABEL_COLOR_TRACK,"Button",BS_AUTOCHECKBOX,14,147,80,12

      CONTROL          "",IDDI_AXIS_COLOR_AXIS_LABEL_COLOR_BACKGROUND, WC_STATIC, WS_BORDER | NOT WS_GROUP,20,169,126,28,WS_EX_CLIENTEDGE
      EDITTEXT        IDDI_AXIS_COLOR_AXIS_LABEL_COLOR_RED,             24,176,29,14,ES_AUTOHSCROLL | ES_CENTER
      CONTROL         "Spin1",IDDI_AXIS_COLOR_AXIS_LABEL_COLOR_RED_SPIN,UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS,52,176,9,14
      EDITTEXT        IDDI_AXIS_COLOR_AXIS_LABEL_COLOR_GREEN,           63,176,29,14,ES_AUTOHSCROLL | ES_CENTER
      CONTROL         "Spin2",IDDI_AXIS_COLOR_AXIS_LABEL_COLOR_GREEN_SPIN,UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS,92,176,9,14
      EDITTEXT        IDDI_AXIS_COLOR_AXIS_LABEL_COLOR_BLUE,           102,176,29,14,ES_AUTOHSCROLL | ES_CENTER
      CONTROL         "Spin3",IDDI_AXIS_COLOR_AXIS_LABEL_COLOR_BLUE_SPIN,UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS,130,176,9,14
      LTEXT           "Red",IDDI_STATIC,24,159,20,8
      LTEXT           "Green",IDDI_STATIC,63,159,20,8
      LTEXT           "Blue",IDDI_STATIC,102,159,20,8
      PUSHBUTTON      "choose",IDDI_AXIS_COLOR_AXIS_LABEL_COLOR_CHOOSE,153,174,30,14

END

1 RCDATA { "Copyright (c) 1996-2010 Nathan T. Clark" }