
#include <windows.h>
#include <commctrl.h>

#include "Graphic_resource.h"

1 TYPELIB Text.tlb

IDDIALOG_TEXT_STYLE DIALOGEX 0, 0, 245, 126
STYLE WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN

    LTEXT     "Font:",IDDI_STATIC,0,0,32,8
    COMBOBOX  IDDI_TEXT_FONTLIST,0,10,80,128,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL

    LTEXT     "Style:",IDDI_STATIC,85,0,32,8
    COMBOBOX  IDDI_TEXT_FONTSTYLELIST,85,10,40,8,CBS_DROPDOWNLIST | WS_VSCROLL
 
    LTEXT     "Size:",IDDI_STATIC,130,0,64,8
    EDITTEXT  IDDI_TEXT_FONTSIZE,130,10,35,12,ES_CENTER

    LTEXT     "Units:",IDDI_STATIC,170,0,40,8
    COMBOBOX  IDDI_TEXT_FONTSIZEUNITSLIST,170,10,40,64,CBS_DROPDOWNLIST | WS_VSCROLL

    LTEXT     "Color",IDDI_STATIC,15,30,62,8
    LTEXT     "",IDDI_TEXT_TEXTCOLOR_BACKGROUND,30,38,126,24,WS_BORDER | NOT WS_GROUP,WS_EX_CLIENTEDGE

    EDITTEXT  IDDI_TEXT_TEXTCOLOR_RED,34,43,29,14,ES_AUTOHSCROLL | ES_CENTER
    CONTROL   "Spin1",IDDI_TEXT_TEXTCOLOR_RED_SPIN,UPDOWN_CLASS,UDS_ALIGNRIGHT | UDS_ARROWKEYS,62,43,9,14

    EDITTEXT  IDDI_TEXT_TEXTCOLOR_GREEN,73,43,29,14,ES_AUTOHSCROLL | ES_CENTER
    CONTROL   "Spin2",IDDI_TEXT_TEXTCOLOR_GREEN_SPIN,UPDOWN_CLASS,UDS_ALIGNRIGHT | UDS_ARROWKEYS,102,43,9,14

    EDITTEXT  IDDI_TEXT_TEXTCOLOR_BLUE,112,43,29,14,ES_AUTOHSCROLL  | ES_CENTER
    CONTROL   "Spin3",IDDI_TEXT_TEXTCOLOR_BLUE_SPIN,UPDOWN_CLASS,UDS_ALIGNRIGHT | UDS_ARROWKEYS,140,43,9,14

    PUSHBUTTON  "choose",IDDI_TEXT_TEXTCOLOR_CHOOSE,158,42,28,14

END


IDDIALOG_TEXT_CONTENT DIALOGEX 0, 0, 245, 126
STYLE WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN

   LTEXT      "Text:",IDDI_TEXT_DESCRIPTION,8,10,225,8, WS_VISIBLE
   CONTROL    "",IDDI_TEXT_TEXT,"RICHEDIT",
                    ES_MULTILINE | ES_WANTRETURN | ES_AUTOVSCROLL | ES_AUTOHSCROLL,0,10,220,100,WS_TABSTOP | WS_EX_CLIENTEDGE

END

IDDIALOG_TEXT_ORIENTATION DIALOGEX 0, 0, 245, 126
STYLE WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN

   GROUPBOX     "On plane...", IDDI_STATIC, 0, 0, 116, 80  
   AUTORADIOBUTTON  "X-Y", IDDI_TEXT_XYPLANE, 8, 10, 24, 8, WS_TABSTOP | WS_GROUP
   AUTORADIOBUTTON  "X-Z", IDDI_TEXT_XZPLANE, 8, 20, 24, 8, WS_TABSTOP
   AUTORADIOBUTTON  "Y-X", IDDI_TEXT_YXPLANE, 8, 30, 24, 8, WS_TABSTOP 
   AUTORADIOBUTTON  "Y-Z", IDDI_TEXT_YZPLANE, 8, 40, 24, 8, WS_TABSTOP
   AUTORADIOBUTTON  "Z-X", IDDI_TEXT_ZXPLANE, 8, 50, 24, 8, WS_TABSTOP 
   AUTORADIOBUTTON  "Z-Y", IDDI_TEXT_ZYPLANE, 8, 60, 24, 8, WS_TABSTOP
   AUTORADIOBUTTON  "Screen", IDDI_TEXT_SCREENPLANE, 8, 70, 48, 8, WS_TABSTOP 

   LTEXT            "Flip:", IDDI_STATIC, 34, 24, 24, 12
   AUTOCHECKBOX     "Left-Right", IDDI_TEXT_FLIP_LR,  38, 34, 50, 8, WS_TABSTOP
   AUTOCHECKBOX     "Top-Bottom", IDDI_TEXT_FLIP_TB,  38, 44, 50, 8, WS_TABSTOP

   LTEXT        "Distance above:",  IDDI_STATIC, 50, 8,  50, 8
   RTEXT        "max", IDDI_STATIC, 68, 20, 16, 12
   RTEXT        "min", IDDI_STATIC, 68, 63, 16, 12
   CONTROL      "Slider",IDDI_TEXT_PLANEHEIGHT,TRACKBAR_CLASS,WS_TABSTOP | TBS_VERT | TBS_LEFT,84,16,24,60

   GROUPBOX     "Absolute...", IDDI_STATIC, 0, 88, 220, 32
   CTEXT        "x", IDDI_STATIC,   8, 96, 48, 8
   CTEXT        "y", IDDI_STATIC,  64, 96, 48, 8
   CTEXT        "z", IDDI_STATIC, 120, 96, 48, 8
   EDITTEXT     IDDI_TEXT_XCOORDINATE,   8, 104, 48, 12, WS_HSCROLL
   EDITTEXT     IDDI_TEXT_YCOORDINATE,  64, 104, 48, 12, WS_HSCROLL
   EDITTEXT     IDDI_TEXT_ZCOORDINATE, 120, 104, 48, 12, WS_HSCROLL

   GROUPBOX     "Position Formatting...",IDDI_STATIC, 0,125,220,60

   LTEXT        "Text position specifies...",IDDI_STATIC,8,135,150,16
   AUTORADIOBUTTON   "the top,",IDDI_TEXT_FORMAT_FROM_TOP,16,143,48,16,WS_GROUP
   AUTORADIOBUTTON   "the center,",IDDI_TEXT_FORMAT_FROM_CENTER,64,143,48,16
   AUTORADIOBUTTON   "the bottom of the text",IDDI_TEXT_FORMAT_FROM_BOTTOM,118,143,90,16

   LTEXT        "After positioning the text justify it ...",IDDI_STATIC,8,159,150,16
   AUTORADIOBUTTON   "left,",IDDI_TEXT_FORMAT_LEFT,16,167,48,16,WS_GROUP
   AUTORADIOBUTTON   "center,",IDDI_TEXT_FORMAT_CENTER,64,167,48,16
   AUTORADIOBUTTON   "right",IDDI_TEXT_FORMAT_RIGHT,118,167,64,16

  
   LTEXT        "These settings determine how the text will be oriented with respect to the indicated planes.
\nYou can also specify the distance along a line normal to that plane where the text will appear.",
                 IDDI_STATIC, 120, 10, 80, 80
END


IDMENU_TEXT MENU DISCARDABLE 
BEGIN
    POPUP "Text Menu"
    BEGIN
        MENUITEM "Text Menu",              ID_PLOTMENU_WORKSPACEMENU, INACTIVE
        MENUITEM SEPARATOR
        MENUITEM "&Properties",            IDMI_TEXT_PROPERTIES
        MENUITEM "&Delete",                IDMI_TEXT_DELETE
    END
END