// Copyright 2018 InnoVisioNate Inc. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

#include "Text.h"

#include <commctrl.h>

#include "Graphic_resource.h"

1 TYPELIB Text.tlb

IDDIALOG_TEXT_STYLE DIALOGEX 0, 0, 256, 220
STYLE WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN

    AUTOCHECKBOX  "Use OpenGL Rendering ?",IDDI_TEXT_RENDEROPENGL,8,4,128,14,WS_TABSTOP

    LTEXT     "Font:",IDDI_STATIC,8,20,32,8
    COMBOBOX  IDDI_TEXT_FONTLIST,8,30,100,128,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP

    LTEXT     "Style:",IDDI_STATIC,113,20,40,8
    COMBOBOX  IDDI_TEXT_FONTSTYLELIST,105,30,48,8,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 
    LTEXT     "Size:",IDDI_STATIC,166,20,64,8
    EDITTEXT  IDDI_TEXT_FONTSIZE,166,30,35,12,ES_CENTER | WS_TABSTOP
    CONTROL   "",IDDI_TEXT_FONTSIZE_SPINNER,UPDOWN_CLASS,UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY,0,0,0,0

    LTEXT     "Units:",IDDI_STATIC,206,20,40,8
    COMBOBOX  IDDI_TEXT_FONTSIZEUNITSLIST,206,30,40,64,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT     "Color",IDDI_STATIC,23,50,62,8
    CONTROL    "",IDDI_TEXT_TEXTCOLOR_BACKGROUND,WC_STATIC,WS_BORDER | NOT WS_GROUP,30,58,126,28,WS_EX_CLIENTEDGE

    EDITTEXT  IDDI_TEXT_TEXTCOLOR_RED,34,65,40,14,ES_AUTOHSCROLL | ES_CENTER | WS_TABSTOP
    CONTROL   "Spin1",IDDI_TEXT_TEXTCOLOR_RED_SPIN,UPDOWN_CLASS,UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY,0,0,9,14

    EDITTEXT  IDDI_TEXT_TEXTCOLOR_GREEN,73,65,40,14,ES_AUTOHSCROLL | ES_CENTER | WS_TABSTOP
    CONTROL   "Spin2",IDDI_TEXT_TEXTCOLOR_GREEN_SPIN,UPDOWN_CLASS,UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY,0,0,9,14

    EDITTEXT  IDDI_TEXT_TEXTCOLOR_BLUE,113,65,40,14,ES_AUTOHSCROLL  | ES_CENTER | WS_TABSTOP
    CONTROL   "Spin3",IDDI_TEXT_TEXTCOLOR_BLUE_SPIN,UPDOWN_CLASS,UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY,0,0,9,14

    PUSHBUTTON  "choose",IDDI_TEXT_TEXTCOLOR_CHOOSE,164,64,28,14,WS_TABSTOP

END


IDDIALOG_TEXT_CONTENT DIALOGEX 0, 0, 256, 220
STYLE WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN

   LTEXT      "Text:",IDDI_TEXT_DESCRIPTION,8,10,225,8, WS_VISIBLE
   CONTROL    "",IDDI_TEXT_TEXT,"RICHEDIT",
                    ES_MULTILINE | ES_WANTRETURN | ES_AUTOVSCROLL | ES_AUTOHSCROLL,0,10,220,100,WS_TABSTOP | WS_EX_CLIENTEDGE

END

IDDIALOG_TEXT_ORIENTATION DIALOGEX 0, 0, 256, 220
STYLE WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN

   GROUPBOX     "On plane...", IDDI_STATIC, 8, 4, 130, 80  
   AUTORADIOBUTTON  "X-Y", IDDI_TEXT_XYPLANE, 16, 14, 24, 8, WS_TABSTOP | WS_GROUP
   AUTORADIOBUTTON  "X-Z", IDDI_TEXT_XZPLANE, 16, 24, 24, 8, WS_TABSTOP
   AUTORADIOBUTTON  "Y-X", IDDI_TEXT_YXPLANE, 16, 34, 24, 8, WS_TABSTOP 
   AUTORADIOBUTTON  "Y-Z", IDDI_TEXT_YZPLANE, 16, 44, 24, 8, WS_TABSTOP
   AUTORADIOBUTTON  "Z-X", IDDI_TEXT_ZXPLANE, 16, 54, 24, 8, WS_TABSTOP 
   AUTORADIOBUTTON  "Z-Y", IDDI_TEXT_ZYPLANE, 16, 64, 24, 8, WS_TABSTOP
   AUTORADIOBUTTON  "Screen", IDDI_TEXT_SCREENPLANE, 16, 74, 48, 8, WS_TABSTOP 

   LTEXT            "Flip:", IDDI_STATIC, 48, 28, 24, 12
   AUTOCHECKBOX     "Left-Right", IDDI_TEXT_FLIP_LR,  54, 38, 50, 8, WS_TABSTOP
   AUTOCHECKBOX     "Top-Bottom", IDDI_TEXT_FLIP_TB,  54, 48, 50, 8, WS_TABSTOP

   LTEXT        "Distance above:",  IDDI_STATIC, 70, 12,60, 8
   RTEXT        "max", IDDI_STATIC, 88, 24, 16, 12
   RTEXT        "min", IDDI_STATIC, 88, 67, 16, 12
   CONTROL      "Slider",IDDI_TEXT_PLANEHEIGHT,TRACKBAR_CLASS,WS_TABSTOP | TBS_VERT | TBS_LEFT,104,20,24,60

   GROUPBOX     "Absolute...", IDDI_STATIC, 8, 92, 220, 32
   CTEXT        "x", IDDI_STATIC,  16, 100, 47, 8
   CTEXT        "y", IDDI_STATIC,  72, 100, 47, 8
   CTEXT        "z", IDDI_STATIC, 128, 100, 47, 8
   EDITTEXT     IDDI_TEXT_XCOORDINATE,  16, 108, 48, 12, WS_TABSTOP | ES_AUTOHSCROLL
   EDITTEXT     IDDI_TEXT_YCOORDINATE,  72, 108, 48, 12, WS_TABSTOP | ES_AUTOHSCROLL
   EDITTEXT     IDDI_TEXT_ZCOORDINATE, 128, 108, 48, 12, WS_TABSTOP | ES_AUTOHSCROLL

   GROUPBOX     "Position Formatting...",IDDI_STATIC, 8,129,220,60

   LTEXT        "Text position specifies...",IDDI_STATIC,16,139,150,16
   AUTORADIOBUTTON   "the top,",IDDI_TEXT_FORMAT_FROM_TOP,24,147,48,16,WS_GROUP
   AUTORADIOBUTTON   "the center,",IDDI_TEXT_FORMAT_FROM_CENTER,72,147,48,16
   AUTORADIOBUTTON   "or the bottom of the text",IDDI_TEXT_FORMAT_FROM_BOTTOM,126,147,90,16

   LTEXT        "After positioning the text, justify it ...",IDDI_STATIC,16,163,150,16
   AUTORADIOBUTTON   "left,",IDDI_TEXT_FORMAT_LEFT,24,171,48,16,WS_GROUP
   AUTORADIOBUTTON   "center,",IDDI_TEXT_FORMAT_CENTER,72,171,48,16
   AUTORADIOBUTTON   "or right",IDDI_TEXT_FORMAT_RIGHT,126,171,64,16

  
   LTEXT        "These settings determine how the text will be oriented with respect to the indicated planes.
You can also specify the distance along a line normal to that plane where the text will appear.",
                 IDDI_STATIC, 140, 6, 100, 80
END


IDMENU_TEXT MENU DISCARDABLE 
BEGIN
    POPUP "Text Menu"
    BEGIN
        MENUITEM "Text Menu",              ID_PLOTMENU_WORKSPACEMENU, INACTIVE
        MENUITEM SEPARATOR
        MENUITEM "&Properties",            IDMI_TEXT_PROPERTIES
        MENUITEM "&Delete",                IDMI_TEXT_DELETE
    END
END